* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0a0a0a;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  padding: 20px 50px;
}

.main-nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  border-radius: 11px;
}

.hero {
  height: 100vh;
  margin-top: 1rem;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 0 50px;
  height: calc(100vh - 80px);
}

.hero-text h1 {
  font-size: 50px;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 2rem;
}

.hero-text p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}

.hero-text {
  width: 45%;
}

.btn-first {
  background-color: #222;
  padding: 12px 30px;
  color: #fff;
  border-radius: 9px;
}

.hero-image {
  width: 45%;
  flex-shrink: 0;
}

.hero-image img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 25px;
}
